<div id="<%= dom_id itinerary_item %>">
  <p>
    <strong>Title:</strong>
    <%= itinerary_item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= itinerary_item.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= itinerary_item.date %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= itinerary_item.trip_id %>
  </p>

</div>
